<!DOCTYPE html>
<html>
<body>
    <h1>Create Account</h1>
    <form action="http://localhost:8080/do_create_account" method="POST">
        <div>
            <label for="name">Username: </label>
            <input type="text" name="name" id="name" value="" />
        </div>
        <div>
            <label for="password">Password: </label>
            <input type="password" name="password" id="password" value="" />
        </div>
        <div>
            <button type="submit">Submit</button>
        </div>
    </form>
    <p><a href="/">Home</a></p>
</body>
</html>